
* {
    font-family: 'Avenir', 'Avenir Next Cyr', 'Config', 'Microsoft YaHei';
}

a {
    color: #6567C9;
    text-decoration: none;
}
  
a.link:focus, a.link:hover {
    color: #ff9349;
    text-decoration: none;
}

body {
    position: relative;
    margin: 0px;
    padding: 0px;
}

p {
    position: relative;
    margin: 16px 100px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

p span {
    font-weight: 600;
}

#main {
    max-width: 1000px;
    /* width: 1000px; */
    margin: 0px auto;
    padding-top: 150px;
    padding-bottom: 200px;
}

#teaser {
    width: 70%;
    min-width: 350px;
    margin: 0px auto;
    display: flex;
    align-items: start;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    color: gray;
}

#teaser video {
    width: 100%;
    height: auto;
}

#title {
    margin-bottom: 32px;
    color: black;
    font-size: 54px;
    font-weight: 700;
    /* white-space: nowrap; */
    text-align: center;
    background: linear-gradient(107.54deg, #0078d4 .39%, #8661c5 51.23%, #ff9349 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#authors {
    width: 80%;
    margin: 8px auto;
    color: black;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* white-space: nowrap; */
}

#authors div {
    margin: 0px 16px;
}

#institution {
    margin: 8px 32px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* white-space: nowrap; */
}

#institution div {
    margin: 0px 16px;
}

.note {
    margin: 16px 32px;
    color: gray;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

#conference {
    margin: 16px 32px;
    color: gray;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

#abstract {
    position: relative;
    margin: 32px;
    padding: 16px 24px;
    color: #3f3f3f;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
}

#abstract::before {
    content: "Abstract:";
    font-weight: 700;
    margin-right: 8px;
}

#abstract::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(107.54deg, #0078d4 .39%, #8661c5 51.23%, #ff9349 100%);
    border-radius: 16px;
    z-index: -1;
}

#links {
    margin: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* white-space: nowrap; */
}

#links div {
    margin: 4px 8px;
    width: 140px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#links a {
    width: 100px;
    height: 20px;
    padding: 8px 16px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(107.54deg, #0078d4 .39%, #8661c5 51.23%, #ff9349 100%) fixed;
    border-radius: 50px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

#links a:hover {
    width: 105px;
    height: 21px;
    font-size: 17px;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.75);
}

#links a.disabled {
    background-color: rgb(192, 192, 192);
}

#links a.disabled:hover {
    background-color: rgb(192, 192, 192);
}

#links a::before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin-right: 8px;
}

#links #paper::before {
    content: "\e000";
}

#links #arxiv::before {
    content: "\e001";
}

#links #code::before {
    content: "\e002";
}

#links #poster::before {
    content: "\e004";
}

#links #video::before {
    content: "\e003";
}

.section {
    margin: 64px 0px 16px 0px;
    color: black;
    font-size: 32px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

/* .section::before {
    content: "";
    position: relative;
    left: -32px;
    width: 2px;
    height: 32px;
    background-color: rgb(32, 163, 196);
}

.section::after {
    content: "";
    position: relative;
    right: -32px;
    width: 2px;
    height: 32px;
    background-color: rgb(32, 163, 196);
} */

.figure {
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.figure div {
    margin-top: 4px;
    color: black;
    font-size: 16px;
    font-weight: 400;
}

.bibtex {
    margin: 32px 96px;
    padding: 0px 24px;
    color: black;
    font-family: consolas, monospace;
    white-space: pre;
    font-size: 14px;
    font-weight: 400;
    background-color: rgb(240, 242, 245);
    display: flex;
    align-items: center;
    justify-content: center;
}

#bottombar {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 80%;
    padding: 0px 10%;
    background: linear-gradient(107.54deg, #0078d4 .39%, #8661c5 51.23%, #ff9349 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

#bottombar div {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: 500;
}

#bottombar div span {
    font-weight: 700;
}